*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  margin: 1em ;
  width: 50px;
  padding: 1em;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* gap: .5em; */
}

#drum-machine{
  /* margin: 10em; */
  display: block;
  margin: 10em auto;
  width: 30%;
  border: 2px solid red;
}